altgraph==0.16.1
aniso8601==8.0.0
astroid==2.3.3
auto-py-to-exe==2.6.5
beautifulsoup4==4.9.3
bottle==0.12.17
bottle-websocket==0.2.9
bs4==0.0.1
certifi==2019.9.11
cffi==1.13.1
chardet==3.0.4
click==8.0.1
client==0.0.1
colorama==0.4.3
configparser==4.0.2
crayons==0.3.0
cycler==0.10.0
decorator==4.4.2
distro==1.5.0
docopt==0.6.2
Eel==0.10.4
et-xmlfile==1.0.1
Flask==2.0.1
Flask-JWT==0.3.2
Flask-JWT-Extended==4.2.1
Flask-RESTful==0.3.7
flask-swagger==0.2.14
flask-swagger-ui==3.36.0
future==0.18.1
gevent==1.4.0
gevent-websocket==0.10.1
greenlet==0.4.15
idna==2.8
imageio==2.9.0
importlib-metadata==1.7.0
isort==4.3.21
itchat==1.2.32
itsdangerous==2.0.1
jdcal==1.4.1
Jinja2==3.0.1
jsonconfig-tool==1.5
keyring==21.2.1
kiwisolver==1.3.1
lazy-object-proxy==1.4.3
MarkupSafe==2.0.1
matplotlib==3.4.2
mccabe==0.6.1
messages==0.5.0
module==0.0.4
MouseInfo==0.1.2
mylib==0.0.1
networkx==2.5.1
numpy==1.18.5
openpyxl==3.0.3
pandas==1.0.4
pdf2image==1.13.1
pefile==2019.4.18
Pillow==7.0.0
pipreqs==0.4.11
PyAutoGUI==0.9.48
pycparser==2.19
pygame==1.9.6
PyGetWindow==0.0.8
PyInstaller==3.5
PyJWT==2.1.0
pylint==2.4.4
PyMsgBox==1.0.7
pyodbc==4.0.30
pyparsing==2.4.7
pyperclip==1.7.0
pypiwin32==223
pypng==0.0.20
PyQRCode==1.2.1
PyQt5==5.15.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.8.1
PyQt5Designer==5.14.1
PyRect==0.1.4
PyScreeze==0.1.26
python-box==5.1.0
python-dateutil==2.8.1
python-dotenv==0.17.0
PyTweening==1.0.3
pytz==2019.3
PyWavelets==1.1.1
pywin32==227
pywin32-ctypes==0.2.0
PyYAML==5.4.1
qt5-applications==5.15.2.2.1
qt5-tools==5.15.2.1.0.1
regex==2021.4.4
repoze.lru==0.7
requests==2.22.0
Routes==2.5.1
scikit-image==0.18.2
scipy==1.7.0
selenium==3.141.0
six==1.12.0
soupsieve==2.2
tabula-py==2.1.1
tifffile==2021.7.2
twilio==6.46.0
typed-ast==1.4.1
urllib3==1.25.6
validate-email==1.3
validus==0.3.0
webdriver-manager==2.3.0
Werkzeug==2.0.1
whichcraft==0.6.1
Wrapper==1.1.0b1
wrapt==1.11.2
wxpy==0.3.9.8
yarg==0.1.9
you-get==0.4.1527
zipp==3.1.0
